.navbar__container {
  display: flex;
  justify-content: center !important;
}

@media (min-width: 996px) {
  .navbar__container {
    justify-content: flex-start !important;

    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}
