.sort__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  box-sizing: border-box;

  margin-bottom: 0.904rem;
}

@media (min-width: 576px) {
  .sort__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.884rem;

    width: unset;
  }
}

.sort__container > span {
  font-family: var(--font-family-raleway);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-12);
  line-height: 20px;
  color: #888;
}

.sort__container > select {
  width: 169px;
  height: 35px;

  font-size: var(--font-size-12);
  line-height: var(--line-spacing-14);
  text-align: center;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23a0a0a0;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M5,0l5,8H0Z' transform='translate(10 8) rotate(180)'/%3E%3C/svg%3E");
  background-size: 10px 8px;
  background-position: right 1.406rem center;

  border: 1px solid #9d9d9d;
  border-radius: 33px;
  opacity: 0.74;

  padding-top: 0.648rem;
  padding-right: 1.25rem;
  padding-bottom: 0.648rem;
  padding-left: 0.648rem;
}

.sort__container > select:hover {
  opacity: 1;
}
