.product__label {
  display: block;
  position: absolute;
  top: -1px;
  right: -2px;

  z-index: 0;

  width: 76px;
  height: 80px;
}

.product__label .label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  top: -12px;
  left: 12px;

  white-space: break-spaces;
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-16);
  font-weight: var(--font-weight-600);
  color: var(--font-color-8);
  text-align: center;
}
