.layout__container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #fff;
}

.main__content {
  position: relative;
  z-index: 1;

  margin-top: 6.315rem;
  margin-bottom: 10.029rem;
}
