.filter__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 31px;

  padding: 1.438rem 0.96rem;

  box-sizing: border-box;

  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.filter__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0;
  margin: 0;
}

@media (min-width: 568px) {
  .filter__group {
    gap: 4.644rem;
  }
}

.filter__label {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  line-height: 20px;

  user-select: none;
}

.filter__input {
  border: 1px solid #d8d8d8;
  border-radius: 0 !important;

  margin: 0 !important;
}
