.product__image {
  position: relative;
  display: block;
  min-height: 230px;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  margin: 0;
  padding: 0 1.25rem;
}

@media (min-width: 1280px) {
  .product__image {
    min-height: 265px;
  }
}

.image__box,
.image__box img {
  position: relative;
  z-index: 0;
  width: 100%;
}

.image__box {
  overflow: hidden;
  height: 100%;
}

.image__box img {
  pointer-events: none;
}
