.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 996px) {
  .container {
    justify-content: flex-start !important;

    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}

.bread__crumb {
  --bs-breadcrumb-divider: ">";
}

@media (min-width: 996px) {
  .bread__crumb {
    padding-left: 1.6rem;
  }
}

.bread__crumb > ol {
  margin-bottom: 1.721rem;
}

.bread__crumb > ol > li > a {
  font-family: var(--font-family-raleway);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-25);
  color: var(--font-color-5);
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image__wrapper {
  max-width: 550px;
  padding: 0;

  border: 0;
}
.product__image {
  min-height: 300px !important;
}

@media (min-width: 768px) {
  .product__image {
    min-height: 350px !important;
  }
}
@media (min-width: 1200px) {
  .product__image {
    min-height: 550px !important;
  }
}

.product__detail {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.product__detail > h3 {
  font-family: var(--font-family-raleway);
  font-size: 24px;
  color: var(--font-color-5);
  font-weight: var(--font-weight-bold);
  line-height: 29px;
  text-align: left;
}

.product__rating,
.product__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product__info {
  margin-bottom: 0.688rem;
  gap: 8px;
}

.product__rating {
  gap: 6.7px;
}

.star__rating {
  gap: 5.79px;
}

.product__reviews {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: 20px;
  color: var(--font-color-6);
  text-align: left;
}

.product__points {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--font-color-2);
  line-height: 29px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.product__stock {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-600);
  line-height: var(--line-spacing-16);
  text-align: left;
}

.product__stock.stock__green {
  color: var(--font-color-3);
}

.product__counter {
  display: flex;
  flex-direction: column;
  gap: 15.81px;

  margin-bottom: 1.125rem;
}

.product__about,
.product__counter > span {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-normal);
  text-align: left;
}

.product__about {
  letter-spacing: var(--character-spacing-0-01);
  color: var(--font-color-5);
  line-height: var(--line-spacing-25);
  margin-bottom: 0.688rem;
}

.product__about * {
  margin-bottom: 0;
}

.product__counter > span {
  color: var(--font-color-6);
  line-height: 20px;
}

.product__counter button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 35px;
  background-color: #f2f2f4 !important;

  padding: 0;
  border-radius: 0;
}

.product__counter button > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__counter > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 14px;

  font-size: var(--font-size-16);
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--font-color-10);
}

.product__buttons {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (min-width: 996px) {
  .product__buttons {
    flex-direction: row;
  }
}

.wishlist__button,
.redeem__button,
.cart__button {
  border-radius: 25px;
  min-height: 45px;
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
}

.wishlist__button {
  height: 45px;
  width: 70px;

  padding: 0;

  position: relative;
}

.redeem__button {
  background-color: #006b4f;
}

.cart__button {
  background-color: transparent !important;
  border-color: #74b61a;
  color: #74b61a;
}

.cart__button:hover {
  border-color: #75b61a !important;
  color: #75b61a;
}

@media (min-width: 1200px) {
  .redeem__button,
  .cart__button {
    min-width: 150px;
  }
}

/* .wishlist__button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='32' viewBox='0 0 54 32'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.d%7Bfill:none;%7D.a,.b%7Bstroke:%23e1e1e1;%7D.a%7Bstroke-miterlimit:10;%7D.c%7Bstroke:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-385.973 -189)'%3E%3Cg class='a' transform='translate(385.973 189)'%3E%3Crect class='c' width='54' height='32' rx='16'/%3E%3Crect class='d' x='0.5' y='0.5' width='53' height='31' rx='15.5'/%3E%3C/g%3E%3Cpath class='b' d='M15.523,1.468A4.534,4.534,0,0,0,12.151,0,4.241,4.241,0,0,0,9.5.914,5.42,5.42,0,0,0,8.43,2.033,5.417,5.417,0,0,0,7.359.914,4.241,4.241,0,0,0,4.71,0,4.534,4.534,0,0,0,1.338,1.468,5.27,5.27,0,0,0,0,5.067,6.275,6.275,0,0,0,1.673,9.175,35.658,35.658,0,0,0,5.859,13.1c.58.494,1.237,1.055,1.92,1.651a.99.99,0,0,0,1.3,0c.683-.6,1.34-1.158,1.921-1.652a35.638,35.638,0,0,0,4.186-3.929A6.275,6.275,0,0,0,16.86,5.067a5.27,5.27,0,0,0-1.338-3.6Zm0,0' transform='translate(404.973 197.5)'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border-radius: 100px;
  border: 1px solid #e1e1e1;
  box-shadow: none !important;
}

.wishlist__button.wishlist__active,
.wishlist__button:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='32' viewBox='0 0 54 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e7246b;%7D.b%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-406.973 -206.5)'%3E%3Cg transform='translate(406.973 206.5)'%3E%3Crect class='a' width='54' height='32' rx='16'/%3E%3C/g%3E%3Cg transform='translate(-256 2)'%3E%3Cpath class='b' d='M15.523,1.468A4.534,4.534,0,0,0,12.151,0,4.241,4.241,0,0,0,9.5.914,5.42,5.42,0,0,0,8.43,2.033,5.417,5.417,0,0,0,7.359.914,4.241,4.241,0,0,0,4.71,0,4.534,4.534,0,0,0,1.338,1.468,5.27,5.27,0,0,0,0,5.067,6.275,6.275,0,0,0,1.673,9.175,35.658,35.658,0,0,0,5.859,13.1c.58.494,1.237,1.055,1.92,1.651a.99.99,0,0,0,1.3,0c.683-.6,1.34-1.158,1.921-1.652a35.638,35.638,0,0,0,4.186-3.929A6.275,6.275,0,0,0,16.86,5.067a5.27,5.27,0,0,0-1.338-3.6Zm0,0' transform='translate(681.972 213)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} */

.nav__tabs {
  border-color: #e6e8ee;
}

.nav__tabs > button {
  min-width: 153px;

  font-size: var(--font-size-16) !important;
  font-weight: var(--font-weight-normal);
  line-height: var(--letter-spacing-19) !important;
  color: #74b71b !important;
  text-align: left !important;

  margin-bottom: 0 !important;
  padding-left: 2px;
  border: 3px solid transparent !important;
  border-color: #fff #fff #74b71b !important;
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.tab__content > .tab__pane {
  padding-top: 3rem;
}

.tab__pane > h4 {
  margin-bottom: 2.313rem;
  color: #006a4e;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.tab__pane p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: var(--character-spacing-0-01);
  color: #262626;
}
