.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 996px) {
  .container {
    padding-left: 3.563rem;
    padding-right: 3.563rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-right: 7.563rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3.654rem;
}

@media (min-width: 996px) {
  .content {
    flex-direction: row;
  }
}

.content section {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content .content__title {
  font-family: var(--font-family-raleway);
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  line-height: 20px;
  color: var(--font-color-20);

  margin-top: 1.188rem;
  margin-bottom: 1.188rem;
}

.content .content__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  min-height: 49.46px;

  margin-bottom: 1.344rem;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #d5d5d5;
}

@media (min-width: 576px) {
  .content .content__header {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media (min-width: 996px) {
  #filter-products {
    min-width: 250px;
    max-width: 250px;
  }
}

.product_list {
  --bs-gutter-x: 1.375rem;
  --bs-gutter-y: 1.375rem;
}
