.button__wishlist {
  width: 54px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='32' viewBox='0 0 54 32'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.d%7Bfill:none;%7D.a,.b%7Bstroke:%23e1e1e1;%7D.a%7Bstroke-miterlimit:10;%7D.c%7Bstroke:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-385.973 -189)'%3E%3Cg class='a' transform='translate(385.973 189)'%3E%3Crect class='c' width='54' height='32' rx='16'/%3E%3Crect class='d' x='0.5' y='0.5' width='53' height='31' rx='15.5'/%3E%3C/g%3E%3Cpath class='b' d='M15.523,1.468A4.534,4.534,0,0,0,12.151,0,4.241,4.241,0,0,0,9.5.914,5.42,5.42,0,0,0,8.43,2.033,5.417,5.417,0,0,0,7.359.914,4.241,4.241,0,0,0,4.71,0,4.534,4.534,0,0,0,1.338,1.468,5.27,5.27,0,0,0,0,5.067,6.275,6.275,0,0,0,1.673,9.175,35.658,35.658,0,0,0,5.859,13.1c.58.494,1.237,1.055,1.92,1.651a.99.99,0,0,0,1.3,0c.683-.6,1.34-1.158,1.921-1.652a35.638,35.638,0,0,0,4.186-3.929A6.275,6.275,0,0,0,16.86,5.067a5.27,5.27,0,0,0-1.338-3.6Zm0,0' transform='translate(404.973 197.5)'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border-radius: 100px;
  border: 1px solid #e1e1e1;
  box-shadow: none !important;
}

.button__wishlist.wishlist__active,
.button__wishlist:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='32' viewBox='0 0 54 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e7246b;%7D.b%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-406.973 -206.5)'%3E%3Cg transform='translate(406.973 206.5)'%3E%3Crect class='a' width='54' height='32' rx='16'/%3E%3C/g%3E%3Cg transform='translate(-256 2)'%3E%3Cpath class='b' d='M15.523,1.468A4.534,4.534,0,0,0,12.151,0,4.241,4.241,0,0,0,9.5.914,5.42,5.42,0,0,0,8.43,2.033,5.417,5.417,0,0,0,7.359.914,4.241,4.241,0,0,0,4.71,0,4.534,4.534,0,0,0,1.338,1.468,5.27,5.27,0,0,0,0,5.067,6.275,6.275,0,0,0,1.673,9.175,35.658,35.658,0,0,0,5.859,13.1c.58.494,1.237,1.055,1.92,1.651a.99.99,0,0,0,1.3,0c.683-.6,1.34-1.158,1.921-1.652a35.638,35.638,0,0,0,4.186-3.929A6.275,6.275,0,0,0,16.86,5.067a5.27,5.27,0,0,0-1.338-3.6Zm0,0' transform='translate(681.972 213)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
